@model PryorCalendarLogin.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed.  Check your login details.");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div>@Html.LabelFor(u => u.User_Name)</div>
            <div>@Html.TextBoxFor(u => u.User_Name)
                @Html.ValidationMessageFor(u => u.User_Name)
            </div>

            <div>@Html.LabelFor(u => u.Password)</div>
            <div>@Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>

            <input type="submit" value="Log In" />

        </fieldset>
    </div>
}